*{
    margin:0;
    padding: 0;
    box-sizing: border-box
}
body,html {
    height: 100%;
    font-family: 'Poppins', sans-serif;
}
img {
    max-width: 100%;
    min-width: 100%;
}
a {
	color: #fff;
    margin-right: 10px;
    line-height: 30px;
}

.header-area{}
.top-area {
    width: 100%;
    height: 30px;
    background-color: black;
}
.contacts {
    width: 1130px;
    margin: 0 auto;
}
.social-icon{
    float: left;
}
social-icon i{
    margin-right: 10px;
}

.contact{
    float: right;
}
.navbar {
    width: 100%;
    height: 60px;
    background-color: #51a531;
    margin-bottom: 0px;
    border-radius:0px;
}
.navbar-brand img {
    height: 60px;
    margin-top: -16px;
}

.navbar-nav li a:hover {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    color: #000000;
}

/*slider css*/
.slider-area {
    height: 650px;
} 
.slider-area > div,
.slider-area > div > .owl-stage-outer,
.slider-area > div > .owl-stage-outer > .owl-stage,
.slider-area > div > .owl-stage-outer > .owl-stage > div, 
.slide , .slide-bg {
    height: 100%
}

.slider-bg {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.bg1 {
    background-image: url(images/bg1.jpg);
    background-position: center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
}
.bg2 {
    background-image: url(images/bg2.jpg);
    background-position: center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
}
.bg3 {
    background-image: url(images/bg3.jpg);
    background-position: center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
}
.slide {
    position: relative;
}
.slide:before {
    position: absolute;
    content: "";
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #000;
    opacity: 0.5;
}
.slide-text {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content:center;
}
.owl-prev {
    position: absolute;
    top: 50%;
    left: 0;
    font-size: 50px;
    color: #fff
}
.owl-next {
    position: absolute;
    top: 50%;
    right: 0;
    color: #fff;
    font-size: 50px;
}
.inner-text h1{
    color: #fff;
    font-size:40px;
    font-weight: 700;
    
}
.inner-text p{
    color: #fff;
    font-weight: 400;
    margin: 20px 0px;
}
.inner-text a {
    text-decoration: none;
    display: inline-block;
    width: 120px;
    height: 38px;
    border: 1px solid #fff;
    text-align: center;
    margin-right:5px;
    line-height: 39px;
}
.inner-text a:hover {
    background-color:#51a531;
    color: #fff;
    border: 1px solid #51a531;
}
/*courses area*/
.courses >.course {
	margin: 0 auto;
	width: 1310px;
    height: 600px
}
.courses > .course >.row {
    width: 1310px;
    margin: 0 auto;
}
.title {
    margin: 60px 0px;
}
.title h1 {
    font-weight: 600;
}
.title h1 span {
    color:  #51a531;
}
.courses > .course >.row > .col-md-3 {
    margin-right: 41px;
    text-align: center;
    width: 391px;
    height: 454px;
}

.courses > .course >.row > .col-md-3 a {
    display: inline-block;
    border: 1px solid #51a531;
    color: #51a531;
    width: 85px;
    height: 30px;
    line-height: 32px;
    font-weight: 400;
}
.courses > .course >.row > .col-md-3:hover {
    border: 1px solid #51a531;
}
.courses > .course >.row > .col-md-3 a:hover {
    background-color: #51a531;
    color: #fff;
    font-weight: 600;
    text-decoration: none;
}
.doller {
    width: 113px;
    position: absolute;
    margin-top: -48px;
    background-color: #51a531;
    border-radius: 3px;
    color: #fff;
    left: 35%;
    height: 48px;
}
/*searce-area css*/
.searce-area {
    width: 100%;
}
.searce {
    width: 100%;
/*    margin: 0 auto;*/
    height: 140px;
    background-image: url(images/header.jpg) ;
    background-attachment: fixed;
    position: relative;
}
.overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0.7;
}
.searce >.row {
    width: 1270px;
    margin: 0 auto;
    height: 100%;
}
.col-md-5 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 35px;
    margin-left: 109px;
    width: 406px;
    color: #fff;
}
.col-md-5 h2 {
    margin: 0;
    font-weight: 700;
}

button, input, select, textarea {
	height: 50px;
	width: 550px;
	margin-top: 50px;
	border-radius: 4px;
    position: relative;
}
.col-md-7 a {
        display: inline-block;
        width: 108px;
        text-decoration: none;
        height: 49px;
        color: #fff;
        background-color: #51a531;
        text-align: center;
        line-height: 50px;
        border-radius: 4px;
        position: absolute;
        margin-left: -108px;
        margin-top: 51px;
}
 
/*teachers-area css*/
.teachers-area {
    width: 100%;
    height: 400px;
}
.teacher-list {
    width: 1200px;
    margin: 0 auto;
}
.col-md-3 {
    position: relative;
    padding: 32px;
}
.col-md-3:hover .hover {
    opacity: 1;
    visibility: visible;
    border: 1px solid #51a531;
}
.col-md-3:hover {
    border: 1px solid #51a531;
}
.hover {
    background-color: #51a531;
    position: absolute;
    width: 241px;
    text-align: center;
    margin-top: -38px;
    height: 91px;
    opacity: 0;
    visibility: hidden;
    transition: all 0.4s ease 0s;
}
.hover h3 {
    margin: 0;
    margin-top: 10px;
}
.hover p {
    margin: 0;
}

/*Testimonial css*/
.testimonial {}
.student-area {
    width: 100%;
    height: 200px;
}
.student {
    width: 1200px;
    margin: 0 auto;
}
.student > .row {
    display: inline-block;
    width: 1200px;
}

.student-image {
    float: left;
    height: 108px;
}
.student-text {
    width: 448px;
    margin-left: 10px;
    float: right;
}
.student-text h3{
    margin: 0;
    color: #4c9ed9;
}
/*News area css*/
.news-area {
    width: 100%;
    height: 300px;
}
.news {
    width: 1200px;
    margin: 0 auto;
}
.news-area > .news > .row {
    height: 460px;
}
.news-area > .news > .row > .col-md-6{
    display: inline-block;
    width: 615px;
}
.news-image img {
    max-width: none;
    min-width: inherit;
    float: left;
    height: 309px;
}

.news-text {
    float: right;
    background: #51a531;
    width: 405px;
    margin-top: -162px;
    padding-left: 14px;
    color: #fff;
}
/*Footer-Area css*/
.footer-area {
    width: 100%;
    background-color:#000;
    height: 425px;
}
.footer {
    width: 1200px;
    margin: 0 auto;
}
.footer-area > .footer > .row > .col-md-4 {
    width: 256px;
    margin-top: 60px;
    border-right: 1px solid;
    margin-left: 42px;
}
.footer-area > .footer > .row > .col-md-4:last-child {
    border-right: none;
}
.link h3 {
    color: #fff;
    margin-bottom: 25px;
    font-weight: 500;
    text-transform: uppercase;
}
.link h3 span {
    color: #51a531;
    font-weight: 700;
}
.list {}
.list p {
    color: #fff;
    margin-bottom: 40px
}
.list li{
    list-style: none;
}
.list li a{
    text-decoration: none;
    color: #fff;
    opacity: 0.9;
}

.border {
    width: 100%;
    border: 1px solid #6f5757;
    margin-top: 90px;
}
.copy {
    width: 500px;
    float: left;
}
.design {
    width: 200px;
    float: right;
    color: #fff;
    opacity: .6;
}





/*                                END OF HOME PAGE CSS                                                         */ 



/*                                START OF ABOUT PAGE CSS                                                      */
.about-image {
    margin-bottom: 60px;
}
.about-bg {
    position: relative;
}
.about-bg:before {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000;
    opacity: 0.7;
}
.about-text {
    position: absolute;
    width: 1255px;
    margin: 0 auto;
    margin-top: -150px;
}
.about-text a {
    float: right;
    text-decoration: none;
}
.about-title {
    width: 1014px;
}
.about-title h1 {
    color: #fff;
    font-weight: 600;
    
}
.about-text a span {
    color: #51a531;
}


/*end of about */

.content-area {
    width: 100%;
    height: 500px;
}
.content-text {
    width: 1200px;
    margin: 0 auto;
}
.content-image  {
    position: relative;
}
.play img {
    position: absolute;
    max-width: none;
    min-width: inherit;
    top: 45%;
    left: 45%;  
}



/*                                        End of about file css*/

.details-area {
    width: 100%;
    height: 800px;
    padding-top: 30px;
}
.details {
    width: 1200px;
    margin: 0 auto;
}
.amount  {
    width: 170px;
    float: right;
    display: inline-block;
    background: #51a531;
    text-align: center;
    border-radius: 4px;
}
.amount a {
    text-decoration: none;
}
.details-area > .details > .row > .col-md-9 >.title h1 {
	font-weight: 700;
	width: 462px;
    margin-bottom: 30px
}
.information {
    background-color: #51a531;
    height: 36px;
    width: 259px;
    text-align: center;
}
.table {
    height: 230px;
    background: #ddd;
}
.table li {
    list-style: none;
    height: 23px;
    margin-top: 17px;
    border-bottom: 1px solid;
}
.table li span {
    float: right;
}
.table li:last-child {
    border-bottom: none;
}
.details-area > .details > .row > .col-md-3:hover {
    border:none;
}



/*                                                                end of course css*/

.map {
    width: 700px;
    margin: 0 auto;
    height: 490px;
    position: relative;
}
.address {
    width: 250px;
    height: 370px
    background: #ed4b3c;
    opacity: 0.8;
    margin: 0 auto;
    position: absolute;
    margin-top: -377px;
    margin-left: 395px;
    color: #fff;
}
.border2 {
    border: 1px solid #fff;
    width: 100%;
    
}
.massage {
    width: 1200px;
    margin: 0 auto;
    height: 490px;
}
.massage > .row {
    margin-left: 50px;
}
.massage > .row >.col-md-4 input {
	height: 50px;
	width: 361px;
	margin-top: 50px;
	border-radius: 3px;
	/* position: relative; */
}
.massage > .row >.col-md-8 input {
    height: 100px;
    margin-bottom: 8px;
    border: 1px solid #51a531;
    width: 667px;
}
.send {
    color: #fff;
    background: #51a531;
    text-align: center;
    line-height: 44px;
    font-weight: 600;
    width: 150px;
    margin: 0 auto;
    border-radius: 4px;
}
.send a {
    text-decoration: none;
}








/*                                                        End of Contacts Css                       */


.blog-area > .blog > .container > .row > .col-md-3:hover {
    border: none;
}
.searce-bar input{
    width: 227px;
    position: relative;
    margin-bottom: 66px;
    border: 1px solid #000;
    padding-left: 10px;
    margin-top: 0px;
}
.searce-bar a {
    color: #000;
    float: right;
    font-size: 35px;
    margin-left: -37px;
    margin-top: 6px;
    position: absolute;
    text-decoration: none;
}
.cat-menu {
    margin-bottom: 70px;
}
.cat-menu li {
    list-style: none;
    height: 35px;
}
.cat-menu li a {
    text-decoration: none;
    color: #000;
}
.cat-menu li a:hover {
    color: #51a531;
    transition: 0.6s;
    margin-left: 20px;
    
}
.border2 {
    border: 1px solid #000;
    width: 100%;
    margin-bottom: 10px;
}
.blog-content h5 {
    text-align: center;
}
.blog-content h5 span {
    font-weight: 600;
}
.recent-area {
    display: block;
}
.recent-news {
    width: 312px;
    overflow: hidden;
}
.recent-image {
    height: 70px;
    float: left;
}
.recent-content {
    float: right;
}